# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
venv_new/
env/
ENV/

# Environment Variables
.env
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/

# Local Model Artifacts (Too large for GitHub)
legal-bert-ner/
*.safetensors
*.bin
